menu "OMAP16xx V4L2 drivers"
	depends on VIDEO_DEV && ARCH_OMAP16XX
config VIDEO_OMAP_CAMERA
	tristate "OMAP Camera support (EXPERIMENTAL)"
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_SG
	depends on VIDEO_DEV && (ARCH_OMAP16XX || ARCH_OMAP24XX)
	help
	  V4L2 camera driver support for OMAP1/2 based boards.
	
config VIDEO_CAMERA_SENSOR_OV9640
	tristate "OV9640 sensor support"
	depends on VIDEO_OMAP_CAMERA
	help
	  OmniVision 9640 camera sensor support
endmenu

menu "OMAP2/OMAP3 V4L2 drivers"
	depends on VIDEO_DEV && (ARCH_OMAP24XX || ARCH_OMAP34XX)

config VIDEO_OMAP24XX_VIDEOLIB
	tristate "Video out library"

config VIDEO_OMAP24XX_VIDEOOUT
	tristate "Video out driver"
	depends on VIDEO_OMAP24XX_VIDEOLIB
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_SG

config VIDEO_OMAP24XX_TVOUT
	bool "TV out support"

config VIDEO_OMAP34XX_CAMERA
	tristate "Camera driver"
	depends on VIDEO_OMAP24XX_VIDEOLIB && ARCH_OMAP34XX 
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_SG

config VIDEO_OMAP34XX_SECLCD
	tristate "Secondary LCD driver"
	depends on VIDEO_OMAP24XX_VIDEOLIB && ARCH_OMAP34XX 
	select VIDEOBUF_GEN
	select VIDEOBUF_DMA_SG

config VIDEO_OMAP_SENSOR_MT9D111
	tristate "Micron mt9d111 (EX3691) ISP sensor driver"
	depends on ARCH_OMAP2430 || ARCH_OMAP34XX  

config VIDEO_OMAP_SENSOR_MT9T012
	tristate "Micron mt9t012 raw sensor driver (3MP)"
	depends on ARCH_OMAP34XX  && !OMAP3430_ES2
	default y

config VIDEO_OMAP_SENSOR_MT9P012
	tristate "Micron mt9p012 raw sensor driver (5MP)"
	depends on ARCH_OMAP34XX && OMAP3430_ES2
	default y

config VIDEO_OMAP_AF_D88
	tristate "Auto Focus driver coil D88"
	depends on ARCH_OMAP34XX && VIDEO_OMAP_SENSOR_MT9P012 && OMAP3430_ES2
	default y

config VIDEO_OMAP_SENSOR_OV3640
	tristate "OV3640 sensor support (3MP)"
	depends on ARCH_OMAP34XX && OMAP3430_ES2 && !VIDEO_OMAP_SENSOR_MT9P012

source "drivers/media/video/omap/isp/Kconfig"
source "drivers/media/video/omap/gci/Kconfig"
endmenu


